/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;

}

/* GENERAL */


blue-color {
    color: #53b2d9;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */

h1{
    color: #E53471;
    margin: 20px 0px;
}

header{
    text-align: center;
    margin-bottom: 30px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* MAIN */
/*
.card-container > .card:nth-child(3n + 2){
    margin-left: 10px;
    margin-right: 10px;
}*/
.mid-card{
    margin-left: 15px;
    margin-right: 15px;

}


.card-container > .card {
    float:left;
    width: calc((100% - 30px)/3);
    background-color: #100E17;
    margin-bottom: 20px;
}

.card-container > .card > * {
    float: left;
}

.card-img-container {
    width: 100px;
}

.card-img-container > img {
    width: 100%;
    display: block;
}

.card-info-container{
    padding-top: 10px;
    padding-left: 20px;
}

.card-info-container > h3 {
    color: white;
    padding-bottom: 5px;

}

.card-info-container > h4 {
    color: white;
    font-weight: 100;
    padding-bottom: 5px;

}

.card-info-container > .mail {
    color: #52B7C5;
    font-weight: 100;
    padding-bottom: 5px;

}